// ---PICTURES---

.pictures {
    .row {
        margin-top: $xl-margin-size;
    }
}

.pictures__images {
    position: relative;
    img {
        width: 100%;
    }
}

.images__text {
    width: 96%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 70%;
    font-size: $m-font-size;
    font-weight: 700;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    p {
        width: 44%;
        border-bottom: 0.5rem solid $main-color;
        padding-bottom: 0;
    }
    @media (max-width: 420px) {
        display: none;
    }
}

.pictures__info {
    @media (min-width: 790px) and (max-width: 1175px) {
        margin-left: 25%;
    }
}

.pictures__text {
    p {
        font-size: $m-font-size;
        font-weight: 700;
        width: 44%;
        border-bottom: 0.5rem solid $main-color;
        padding-bottom: 0;
    }
}

.pictures__text2 {
    margin: $s-margin-size 0;
}

.pictures__text3 {
    margin: $s-margin-size 0;
}

// ---PRICES---

.prices {
    background-color: gainsboro;
    .grid-container {
        margin-top: $xl-margin-size;
        padding-bottom: $xl-padding-size * 4;
    }
}

.prices__title {
    padding-top: $xl-padding-size;
    padding-bottom: $xl-padding-size;
    h2 {
        max-width: 270px;
        font-size: $xl-font-size;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        border-bottom: 0.5rem solid $main-color;
    }
}

.segment {
    height: 550px;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-top: $xl-margin-size;
    &__dot {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        background-color: white;
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        top: -30px;
        .dot__inner-dot {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    &__header {
        p {
            font-size: $l-font-size;
            font-weight: 700;
            color: $main-color;
            text-transform: uppercase;
            margin-bottom: $xl-margin-size;
        }
    }
    &__price {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.3);
        color: rgba(0, 0, 0, 0.5);
        background-color: white;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: $xl-margin-size;
        & p:nth-child(1) {
            font-size: $m-font-size * 2;
            font-weight: 700;
            margin-bottom: $s-margin-size;
        }
        & p:nth-child(2) {
            text-transform: uppercase;
        }
    }
    &__info {
        width: 100%;
        margin-bottom: $xl-margin-size;
        padding: 0 10px;
        p {
            width: 100%;
            font-size: $l-font-size;
            padding: $xs-padding-size;
        }
        & p:nth-child(1) {
            color: rgba(0, 0, 0, 0.6);
            background-color: rgba(0, 0, 0, 0.2);
        }
        & p:nth-child(2) {
            color: rgba(0, 0, 0, 0.7);
            background-color: rgba(0, 0, 0, 0.1);
        }
        & p:nth-child(3) {
            color: rgba(0, 0, 0, 0.6);
            background-color: rgba(0, 0, 0, 0.2);
        }
        & p:nth-child(4) {
            color: rgba(0, 0, 0, 0.7);
            background-color: rgba(0, 0, 0, 0.1);
            margin-bottom: 0;
        }
    }
    &__button {
        width: 200px;
        height: 50px;
        font-size: $m-font-size;
        text-transform: uppercase;
        color: white;
        background-color: $main-color;
        border-style: none;
        border-radius: 0.25rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-left: $xl-padding-size;
        padding-right: $xl-padding-size;
        margin-top: 60px;
    }
    &__button:hover {
        color: $main-color;
        background-color: white;
    }
}

.media__display {
    @media (min-width: 790px) and (max-width: 1175px) {
        margin-left: 25%;
    }
}

.segment-highlight {
    background-color: $main-color;
    border: 1px solid $main-color;
    & .segment__dot {
        border: 1px solid $main-color;
        background-color: $main-color;
        .dot__inner-dot {
            background-color: white;
        }
    }
    & .segment__header {
        p {
            color: white;
        }
    }
    & .segment__price {
        border: $main-color;
        color: $main-color;
        background-color: white;
    }
    & .segment__info {
        & p:nth-child(1) {
            background-color: gainsboro;
        }
        & p:nth-child(2) {
            background-color: whitesmoke;
        }
        & p:nth-child(3) {
            background-color: gainsboro;
        }
        & p:nth-child(4) {
            background-color: whitesmoke;
        }
    }
}

// ---ORDER---

.order__title {
    padding-top: $xl-padding-size;
    padding-bottom: $xl-padding-size * 2;
    h2 {
        max-width: 270px;
        font-size: $xl-font-size;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        border-bottom: 0.5rem solid $main-color;
    }
}

.order__form {
    display: flex;
    flex-direction: column;
    select {
        cursor: pointer;
        font-size: $xl-font-size;
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid $main-color;
        display: block;
        padding: $xs-padding-size;
        margin-bottom: $m-margin-size;
    }
    & select:hover {
        background-color: lighten($main-color, 40%);
    }
}

.form__checkbox {
    display: inline-flex;
    align-items: center;
    div#indicator2 {
        cursor: pointer;
        text-align: center;
        width: 45px;
        height: 45px;
        border: 1px solid $main-color;
    }
    label {
        font-size: $xl-font-size;
        color: rgba(0, 0, 0, 0.5);
        position: relative;
        left: 1rem;
    }
}

.order__image {
    text-align: center;
    img {
        max-width: 350px;
        @media (max-width: 420px) {
            width: 290px;
        }
    }
}

.order__summary {
    font-size: $xl-font-size;
    color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    .summary__left {
        width: 70%;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding-bottom: 10px;
        .summary__model {
            color: $main-color;
        }
    }
    .summary__right {
        width: 29%;
        color: $main-color;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
    .summary__bottom {
        width: 100%;
        padding-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    input {
        max-width: 350px;
        min-width: 250px;
        font-size: $xl-font-size;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        background-color: $main-color;
        border-style: none;
        border-radius: 0.25rem;
        padding: $xs-padding-size;
        padding-left: $xl-padding-size;
        padding-right: $xl-padding-size;
    }
    input:hover {
        cursor: pointer;
        color: $main-color;
        background-color: white;
    }
    @media (min-width: 790px) and (max-width: 1175px) {
        margin-left: 25%;
        margin-right: -75%;
    }
}

// ---CONTACT---

.contact__title {
    padding-top: $xl-padding-size;
    padding-bottom: $xl-padding-size * 2;
    margin-top: $xl-margin-size;
    h2 {
        max-width: 270px;
        font-size: $xl-font-size;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        border-bottom: 0.5rem solid $main-color;
    }
}

.contact__form {
    display: flex;
    flex-direction: column;
    input {
        font-size: $xl-font-size;
        color: rgba(0, 0, 0, 0.5);
        border: 1px solid $main-color;
        display: block;
        padding: $xs-padding-size;
        margin-bottom: $m-margin-size;
    }
    & input:hover {
        background-color: lighten($main-color, 40%);
    }
    textarea {
        font-size: $xl-font-size;
        color: rgba(0, 0, 0, 0.5);
        border-color: $main-color;
        padding: $xs-padding-size;
    }
    & textarea:hover {
        background-color: lighten($main-color, 40%);
    }
}

.contact__image {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    img {
        max-width: 264px;
        margin-bottom: 35px;;
        margin-top: -20px;
    }
    label {
        max-width: 200px;
        max-height: 96px;
        position: relative;
        left: 60px;
        color: rgba(0, 0, 0, 0.5);
        div#indicator {
            cursor: pointer;
            text-align: center;
            position: relative;
            top: -51px;
            right: 60px;
            width: 45px;
            height: 45px;
            border: 1px solid $main-color;
        }
    }
    input {
        max-width: 350px;
        min-width: 250px;
        font-size: $xl-font-size;
        font-weight: 700;
        text-transform: uppercase;
        color: white;
        background-color: $main-color;
        border-style: none;
        border-radius: 0.25rem;
        padding: $xs-padding-size;
        padding-left: $xl-padding-size;
        padding-right: $xl-padding-size;
    }
    input:hover {
        cursor: pointer;
        color: $main-color;
        background-color: white;
    }
}
